/* INDEX */

/* Loader */

/*.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms 6s forwards;
  transform-origin: top;

  &::after {
    content: "";
    height: 100px;
    width: 100px;
    border-right: 5px solid transparent;
    border-top: 5px solid $color-tertiary;border-radius: 50%;
    animation: spin 3s 4s ease-in-out;
}

}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
}
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
}

}*/

/*.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-tertiary;
  animation: fadeOut 1.5s linear forwards;

  .loader {
      position: relative;
      border-radius: 100px;
      width: 200px;
      height: 200px;
      animation: rotate 1.5s linear infinite, changeColor 1.5s linear;
  }


}*/


/***************** main header ******************/
main header {
  @include flexCenter(column);
  text-align: center;
  padding: 0 10px;
  background-color: $silver;
}

form {
  @include flexCenter();
  gap: 20px;
  width: 100%;
  height: 50px;
  background-color: $grey;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.35);
}

.fa-location-dot {
  @include flexCenter();
  align-items: center;
}

span {
  font-size: 1.2rem;
  font-weight: 500;
  align-self: center;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 40px 15vw 10px;
}

p {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 300;
}

.btn {
  margin-bottom: 40px;
}

/***************** functioning ******************/

.functioning {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 60px 20px 15px;
  }

  ol {
    counter-reset: num;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 25px 0px 25px;
  }

  li {
    position: relative;
    counter-increment: num;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: $silver;
    border-radius: 20px;
    padding: 20px 20px 20px 35px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    font-size: 1.2rem;
    font-weight: 500;

    &::before {
      content: counter(num);
      position: absolute;
      left: 15px;
      background-color: $color-primary;
      color: $white;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      @include flexCenter();
      font-size: 1rem;
      margin-left: -30px;
    }
  }

  li:hover i {
    color: $color-primary;
  }
}

/***************** restaurants ******************/
[id="restaurants"] {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 80px;
  background-color: $silver;

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 20px;
    width: 100%;
  }

  li {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  figure {
    position: relative;

    b {
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: $color-tertiary;
      color: $green-font;
      padding: 5px 10px;
      border-radius: 2px;

    }
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  figcaption {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 20px 15px 0;
    background-color: $white;
    border-radius: 0 0 15px 15px;
  }

  p {
    margin: 0;
    padding-bottom: 15px;
    font-size: 1rem;
    font-weight: 300;
  }

  h3 {
    margin: 0 0 5px;
    font-size: 1.2rem;
  }

  i {
    position: absolute;
    right: 20px;
  }

  

  
}

@media (min-width: 768px) {

}




  @media (min-width: 1200px) {
    header {
      p {
        margin-bottom: 0;
      }
    }
    
    .functioning {
      flex-direction: column;
      align-items: baseline;
      padding: 50px 100px;
      margin: 0;

      ol {
        display: flex;
        flex-direction: row;
        gap: 50px
      }

      li {
        display: flex;
        flex-wrap: wrap;
      }
    }

    h2 {
      margin: 0 0 26px;
    }

    #restaurants {
      padding: 20px 100px 20px 100px;

      ul {
        display: flex;
        flex-direction: row;
        column-gap: 100px;
        row-gap: 50px;
      }

      li {
        width: calc((100% - 100px) / 2);
      }

      img {
        height: 250px;
      }
    }

    
    }
  
