/* INDEX */

/* Loader */

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: $color-tertiary;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 600ms 1s forwards;
  transform-origin: top;

}
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
}

}

.spinner {
  position: relative;
  height: 150px;
  width: 150px;
}

.spinner::before, .spinner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.spinner::before {
  border: 6px solid transparent;
  border-right-color: $color-primary; 
  border-left-color: $color-secondary;
  animation: spin-clockwise 1.3s linear infinite;
}

.spinner::after {
  border: 6px solid transparent;
  border-right-color: $color-primary; 
  border-left-color: $color-secondary;
  animation: spin-counter-clockwise 1.3s linear infinite;
}

@keyframes spin-clockwise {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-counter-clockwise {
  to {
    transform: rotate(-360deg);
  }
}

/***************** header location dot ******************/
form {
  @include flexCenter();
  gap: 20px;
  width: 100%;
  height: 50px;
  background-color: $grey;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.35);
}

.fa-location-dot {
  @include flexCenter();
  align-items: center;
}

/* Paris, Belleville */
span {
  font-size: 1.2rem;
  font-weight: 500;
  align-self: center;
}

/***************** main header ******************/
/* englobe h1 to Footer */
main header { 
  @include flexCenter(column);
  text-align: center;
  padding: 0 10px;
  background-color: $silver;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 40px 15vw 10px;
}

p {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 300;
}

.btn {
  margin-bottom: 40px;
}

/***************** functioning ******************/

.functioning {
  @include flexColumn();
  margin-top: 40px;
  margin-bottom: 40px;

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 60px 20px 15px;
  }

  ol {
    counter-reset: num;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 25px 0px 25px;
  }

  li {
    position: relative;
    counter-increment: num;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: $silver;
    border-radius: 20px;
    padding: 20px 20px 20px 35px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    font-size: 1.2rem;
    font-weight: 500;

    &::before {
      content: counter(num);
      position: absolute;
      left: 15px;
      background-color: $color-primary;
      color: $white;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      @include flexCenter();
      font-size: 1rem;
      margin-left: -30px;
    }
  }

  li:hover i {
    color: $color-primary;
  }
}

/***************** restaurants ******************/
[id="restaurants"] {
  @include flexColumn();
  gap: 20px;
  padding: 20px 20px 80px;
  background-color: $silver;

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 20px;
    width: 100%;
  }

  li {
    @include flexColumn();
    width: 100%;
  }

  /* image and figcaption */
  figure {
    position: relative;

    /* nouveau badge */
    b {
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: $color-tertiary;
      color: $green-font;
      padding: 5px 10px;
      border-radius: 2px;

    }
  }
   /* image for the cards */
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  figcaption {
    @include flexColumn();
    align-items: baseline;
    padding: 20px 15px 0;
    background-color: $white;
    border-radius: 0 0 15px 15px;
  }

  h3 {
    margin: 0 0 5px;
    font-size: 1.2rem;
  }

  p {
    margin: 0;
    padding-bottom: 15px;
    font-size: 1rem;
    font-weight: 300;
  }

  /* heart icon below cards*/
  i {
    position: absolute;
    right: 20px;
  }

}

  @media (min-width: 1200px) {
    header {
      p {
        margin-bottom: 0;
      }
    } /* decouvrez nos restaurants */
    
    .functioning {
      flex-direction: column;
      align-items: baseline;
      padding: 50px 100px;
      margin: 0;

      ol {
        display: flex;
        flex-direction: row;
        gap: 50px
      }

      li {
        display: flex;
        flex-wrap: wrap;
      }
    }

    #restaurants {
      padding: 20px 100px 20px 100px;

      ul {
        display: flex;
        flex-direction: row;
        column-gap: 100px;
        row-gap: 50px;
      }

      li {
        width: calc((100% - 100px) / 2);
      }

      img {
        height: 250px;
      }
    }
       
    }
  
